@import 'tailwindcss';

@keyframes fluffy-bounce-animation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

.fluffy-bounce {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  animation: fluffy-bounce-animation 1s ease-in-out infinite;
}
